
    div{
        width:100px;
        height:100px;
        background:orange;
        position:absolute;
        animation:Animation 5s infinite;
    }
    @keyframes Animation{
        from{top:0 px;}
        to{top:1000 px;}
        
    }

